* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

html body {
    color: white;
    background-color: black;
}

.navbar img {
    margin-left: 70px;
}

.link {
    margin-left: 30rem;
}

.link a {
    color: white;
    font-size: 17px;
}

.link a:hover {
    color: white;

}

.btn {
    margin-right: 50px;
    border: 1px solid white;

}

.btn .round {
    color: white;
    border: 1px solid white;
    margin: 0 15px;
    border-radius: 50px;
}

.btn .round:hover {
    color: white;
}

.btn .null {
    color: white;
    border: none;
    background-color: red;
    height: 5vh;
    width: 10vw;
    border-radius: 50px;
}


.btn .null:hover {
    color: white;
}

.btn .null i {
    background-color: red;
}

/* Slider */

.carousel-item img {
    height: 600px;
    object-fit: cover;
}

.heading {
    margin-top: 6rem;
    text-align: center;
}

/* card */

.images {
    /* border: 1px solid red; */
    margin-top: 10px;
    ;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.images img {
    margin-right: 30px;
}

.btn {
    position: relative;
}

.btn .round-1 {
    position: absolute;
    width: 8rem;
    left: 9rem;
    color: white;
    border: 1px solid rgb(199, 199, 199);
    margin: 0 15px;
    border-radius: 50px;
}

.btn .round-1:hover {
    color: white;
}

.btn .round-2 {
    position: absolute;
    width: 8rem;
    left: 30.5rem;
    color: white;
    border: 1px solid rgb(199, 199, 199);
    margin: 0 15px;
    border-radius: 50px;
}

.btn .round-2:hover {
    color: white;
}

.btn .round-3 {
    position: absolute;
    width: 8rem;
    left: 52rem;
    color: white;
    border: 1px solid rgb(199, 199, 199);
    margin: 0 15px;
    border-radius: 50px;
}

.btn .round-3:hover {
    color: white;
}

.btn .round-4 {
    position: absolute;
    width: 8rem;
    left: 73.5rem;
    color: white;
    border: 1px solid rgb(199, 199, 199);
    margin: 0 15px;
    border-radius: 50px;
}

.btn .round-4:hover {
    color: white;
}

span {
    font-size: 60px;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}



/* card */

.hero {
    position: relative;
    width: 98vw;
    background-color: #0f0f0f;
    height: 100rem;
    padding: 10px;
    margin-top: 7rem;
}

.snp-right-side-one {
    position: absolute;
    right: 60px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5rem;
}

.cat img {
    width: 650px;
    height: 100%;
}

.record {
    /* border: 1px solid white; */
    margin-bottom: 4rem;
}

.record h2 {
    font-weight: 150;
    letter-spacing: 5px;
}

.record h1 {
    margin: 20px 0;
}

.record p i {
    color: #a7a7a7;
    margin: 5px 0;
}

.record-center {
    right: 50px;
    margin-bottom: 4rem;
    /* border: 1px solid white; */
    margin-right: 15rem;
}

.record-center h2 {
    font-weight: 150;
    letter-spacing: 5px;
}

.record-center h1 {
    margin: 20px 0;
}

.record-center p i {
    color: #a7a7a7;
    margin: 5px 0;
}

.Get {
    margin-top: 2rem;
    width: 10rem;
    height: 3rem;
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 50px;
    border: 1px solid #a7a7a7;
    font-size: 13px;
}

.Get i {
    background-color: white;
    color: red;
    border-radius: 50%;
    padding: 8px;
    font-size: 14px;
    margin-left: 10px;
}


/* contact */

.contact {
    position: relative;

}

.snp-left-one-side img {
    width: 98vw;
    height: 140rem;
    padding: 30px;
    margin-top: 7rem;
}

.cool {
    position: absolute;
    top: 12rem;
    left: 32rem;
    text-align: center;
}

.us {
    display: flex;
    align-self: center;
    justify-content: center;
}

.us img {
    width: 32rem;
    height: 23rem;
}

.cont-1 {
    position: absolute;
    top: 13rem;
    left: 1.5rem;
    text-align: center;
}

.cont-1 .roll {
    font-size: 25px;
}

.cont-1 h4 {
    color: red;
    font-weight: 150;
    letter-spacing: 5px;
}

.cont-1 h1 {
    font-weight: 200;
}

.cont-1 p {
    margin-top: 2rem;
    font-size: 10px;
}

/*  */
.cont-2 {
    position: absolute;
    top: 13rem;
    left: 31.5rem;
    text-align: center;
}

.cont-2 .roll {
    font-size: 25px;
}

.cont-2 h4 {
    color: red;
    font-weight: 150;
    letter-spacing: 5px;
}

.cont-2 h1 {
    font-weight: 200;
}

.cont-2 p {
    margin-top: 2rem;
    font-size: 10px;
}

/*  */
.cont-3 {
    position: absolute;
    top: 13rem;
    left: 62rem;
    text-align: center;
}

.cont-3 .roll {
    font-size: 25px;
}

.cont-3 h4 {
    color: red;
    font-weight: 150;
    letter-spacing: 5px;
}

.cont-3 h1 {
    font-weight: 200;
}

.cont-3 p {
    margin-top: 2rem;
    font-size: 10px
}

/*  */
.her {
    display: flex;
    align-self: center;
    justify-content: center;
}

.her img {
    width: 32rem;
    height: 23rem;
}

/*  */
.cont-4 {
    position: absolute;
    top: 55rem;
    left: 1.5rem;
    text-align: center;
}

.cont-4 .roll {
    font-size: 25px;
}

.cont-4 h4 {
    color: red;
    font-weight: 150;
    letter-spacing: 5px;
}

.cont-4 h1 {
    font-weight: 200;
}

.cont-4 p {
    margin-top: 2rem;
    font-size: 10px;
}

/*  */
.cont-5 {
    position: absolute;
    top: 55rem;
    left: 31.5rem;
    text-align: center;
}

.cont-5 .roll {
    font-size: 25px;
}

.cont-5 h4 {
    color: red;
    font-weight: 150;
    letter-spacing: 5px;
}

.cont-5 h1 {
    font-weight: 200;
}

.cont-5 p {
    margin-top: 2rem;
    font-size: 10px;
}

/*  */
.cont-6 {
    position: absolute;
    top: 55rem;
    left: 62rem;
    text-align: center;
}

.cont-6 .roll {
    font-size: 25px;
}

.cont-6 h4 {
    color: red;
    font-weight: 150;
    letter-spacing: 5px;
}

.cont-6 h1 {
    font-weight: 2006
}

.cont-6 p {
    margin-top: 2rem;
    font-size: 10px
}

/*  */

.hey {
    display: flex;
    align-self: center;
    justify-content: center;
}

.hey img {
    width: 32rem;
    height: 23rem;
}

/*  */
.cont-7 {
    position: absolute;
    top: 98rem;
    left: 1.5rem;
    text-align: center;
}

.cont-7 .roll {
    font-size: 25px;
}

.cont-7 h4 {
    color: red;
    font-weight: 150;
    letter-spacing: 5px;
}

.cont-7 h1 {
    font-weight: 200;
}

.cont-7 p {
    margin-top: 2rem;
    font-size: 10px;
}

/*  */
.cont-8 {
    position: absolute;
    top: 98rem;
    left: 31.5rem;
    text-align: center;
}

.cont-8 .roll {
    font-size: 25px;
}

.cont-8 h4 {
    color: red;
    font-weight: 150;
    letter-spacing: 5px;
}

.cont-8 h1 {
    font-weight: 200;
}

.cont-8 p {
    margin-top: 2rem;
    font-size: 10px;
}

/*  */
.cont-9 {
    position: absolute;
    top: 98rem;
    left: 62rem;
    text-align: center;
}

.cont-9 .roll {
    font-size: 25px;
}

.cont-9 h4 {
    color: red;
    font-weight: 150;
    letter-spacing: 5px;
}

.cont-9 h1 {
    font-weight: 200;
}

.cont-9 p {
    margin-top: 2rem;
    font-size: 10px;
}

/*  */
.small {
    background-color: #0f0f0f;
    width: 98vw;
    height: 80%;
}

.top img {
    width: 45rem;
    padding-bottom: 2rem;

}

.text {
    margin-top: 5rem;
}

.head {
    /* border: 1px solid red; */
    margin-left: 2rem;

}

.heading {
    padding-top: 2rem;
    margin-top: 5rem;
}

.got {
    margin-top: 2rem;
    width: 10rem;
    height: 3rem;
    background-color: #28a745;
    border: none;
    color: white;
    border-radius: 50px;
    font-size: 13px;
}

.got i {
    background-color: white;
    color: green;
    border-radius: 50%;
    padding: 8px;
    font-size: 14px;
    margin-left: 10px;
}

.got:hover {
    background-color: transparent;
    border: 1px solid #28a745;
}

.spen {
    width: 98vw;
    height: 100%;
    /* background-color: #a7a7a7; */
}

.colour {
    justify-content: center;
    align-items: center;
}

.location-card-box-h {
    background-color: #fff;
    color: #000;
    width: 30%;
    height: 13rem;
    margin: 10px;
    text-align: center;
    margin-top: 2.5rem;
    border-radius: 5px;
    padding: 10px;
}

.headings {
    text-align: center;
    font-size: 18px;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.feed img,
video {
    margin: 10px;
    width: 18rem;
    height: 18rem;
}

/* Footer */

.footer {
    position: relative;
    height: 70vh;
    width: 100%;
    background-color: #0f0f0f;
    margin-top: 3rem;
}
.snp-right-side-two{
    position: absolute;
    top: 15rem;
    /* background-color: #000; */
}

.one {
    position: absolute;
    left: 10rem;
    top: 7rem;
    /* border: 1px solid red; */
    width: 25rem;
}

.web-logo {
    margin-bottom: 1.5rem;
}

.one p {
    color: white;
    font-size: 15px;
}
.info-usefull-links{
    position: absolute;
    left: -2.3rem;
}
.info-usefull-links a {
    margin: 5px;
    color: white;
    text-decoration: none;
}
.info-usefull-links a:hover{
    color: white;
}

/* Footer */